* text=auto
*.ct -text
src/liberator/src/ownership.rs filter=git-crypt diff=git-crypt
src/liberator/src/tables/ownership.rs filter=git-crypt diff=git-crypt
src/liberator/src/onboarding.rs filter=git-crypt diff=git-crypt
src/liberator/src/tables/onboarding.rs filter=git-crypt diff=git-crypt
src/liberator/src/badges.rs filter=git-crypt diff=git-crypt
src/liberator/src/tables/badges.rs filter=git-crypt diff=git-crypt
