__pycache__/
*.pyc
.venv/
.venv-win/
venv/
.ruff_cache/
.lock
config.toml
config.toml.*
/downloads/
/bin/*
!/bin/Liberator.exe
!/bin/Shadow.dll
!/bin/helios/
/nuitka-out/
/app-out/
/loader-out/
/liberator/target/
