__pycache__/
*.pyc
.venv/
.venv-win/
venv/
.ruff_cache/
config.toml
config.toml.broken
/downloads/
/bin/*
!/bin/Liberator.exe
!/bin/Liberator.exe.config
!/bin/helios/
/nuitka-out/
/app-out/
/loader-out/
/liberator/target/
/liberator/test/out/
/liberator/test/.wpfx-daemon-rs/
