__pycache__/
*.pyc
.venv/
.venv-win/
venv/
.ruff_cache/
.lock
config.toml
config.toml.*
/downloads/
/radmin/
/bin/*
!/bin/liberator/
/bin/liberator/*
!/bin/liberator/Liberator.exe
!/bin/liberator/Shadow.dll
/nuitka-out/
/app-out/
/loader-out/
/build/
/out/
/appimagetool
/liberator/target/
